html {
    min-height: 100vh;
    position: relative;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Manrope,sans-serif;
}
.app-container {
    padding: 4rem 0 2rem;
    margin-bottom: 80px;
}
